.col-md-12
  .col-md-4.col-md-offset-4
    .jumbotron
      .text-center
        %strong
          %h3
            %u
              New Medication
        = link_to "Cancel", clinics_path
    =render 'form'